@use "global" as *;

.p-feature__title {
  margin-bottom: rem(30);
  @include mq(md) {
    margin-bottom: rem(60);
  }
}

.p-feature__items {
  display: flex;
  justify-content: space-between;
}

.p-feature__item {
  // width: calc(33.3333% - #{rem(18)} * 2 / 3);
  // @include mq(md) {
  //   width: calc(33.3333% - #{rem(43)} * 2 / 3);
  // }
  width: 30%;
}