@use "global" as *;

.p-pc-header {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  width: 300px;
  height: 100vh;
  padding: rem(40) rem(45);
}
.p-pc-header__logo {
  width: rem(200);
  margin-bottom: rem(38);
}

.p-pc-nav__items {
  margin-bottom: rem(76);
}

.p-pc-nav__item {
  padding: rem(8) 0;
}

.p-pc-nav__item a {
  display: block;
}

.p-pc-nav__sns-item {
  padding: rem(8) 0;
}

.p-pc-nav__sns-item a {
  display: block;
}